body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2ff; 
}

.nav {
    margin-top: 50px;
    border: 2px solid black;
    width: 800px;
    height: 387px;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e6e6ff; 
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #ccccff; 
}

td {
    width: 100%; 
}

input[type="text"] {
    width: calc(100% - 110px); 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    text-align: left;
}